* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #be7e16;
  position: relative;
  width: 100%;
}

footer {
  background-color:black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

div a img, nav ul li a img {
  height:25px;
}

div a img:hover, nav ul li a img:hover {
  animation-name: tamanioDinamicoImagen;
  animation-duration: 1s;
}

@keyframes tamanioDinamicoImagen {
  from {height:25px;}
  to {height:50px;}
}

.topnav {
  width: 100%;
  position: fixed; 
  text-align: center;
  background-color: black;
}

.topnav a {
  color: white;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #be7e16;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

nav ul li, .topnav a {
  display: inline-block;
  padding: 10px;
}