*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/fondo_pantalla_cerveza.webp");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
  }

header {
    background: black;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  main {
    width: auto;
    position: absolute;
    top: 10%;
  }

  footer {
    margin-left: 0px;
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
  }

  nav {
    float: left;
  }

  nav ul {
    list-style: none;
    overflow: hidden; 
  }

  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: #be7e16;
  }