header {
  position: fixed;
  background-color:black;
  width: 100%;
  top: 0px;
  left: 0px;
}

body {
  background-color: #be7e16;    
  top: 1%;
  position: absolute;
  padding: 4%;
}

footer {
  position: fixed;
  background-color:black;  
  width: 100%;  
  bottom: 0px;
  left: 0px;
  text-align: center;  
}

.ubicacion_logo {
  text-align: right;
  padding: 1%;
}

.tama_logo {
  height:30px;
}

nav {
  float: left;  
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  padding: 5px;
  display: block;
  color: #fff;
  text-decoration: none;
}
  
nav ul li:hover {
  background: #be7e16;
}