*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fondo_nosotros{
    background-image: url(../img/img_nosotros3.jpg);
}

header > * {
    width: 100%;
    position: static; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

header a:hover {
    background-color: #fbcb09;
    color: black;
    font-weight: bold;
}

main {
    padding: 7%; 
}

footer {
    background-color:rgba(0, 0, 0, 0.329);
    position: sticky;
    bottom: -100px;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    header a {
    float: none;
    width: 100%;
    }
}

h1,h2,h3, p, h4{
    color:white;
}

label{
    color:white;
    text-shadow: 0.1em 0.1em 0.1em black
}

nav a img:hover {
    animation-name: tamanioDinamicoImagen;
    animation-duration: 1s;
}

@keyframes tamanioDinamicoImagen {
    from {height:25px;}
    to {height:50px;}
}

nav a img {
    height:25px; 
}

.contenedor {    
	width: 95%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header"
						 "contenido contenido"
						 "sidebar sidebar"
                         "footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: rgba(0, 0, 0, 0.459);
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	grid-area: header;
    text-align: center;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: rgba(0, 0, 0, 0.459);
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: left;
	min-height: 100px;
	grid-area: sidebar;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header"
						     "contenido contenido"
						     "sidebar sidebar"
						     "footer footer";
	}
}