*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../img/img_contacto4.jpg);
    background-color: grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header > * {
    width: 100%;
    position: fixed; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

header a:hover {
    background-color: #fbcb09;
    color: black;
    font-weight: bold;
}

main {
    padding: 4%; 
}

footer {
    background-color:rgba(0, 0, 0, 0.329);
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

nav a img {
    height:25px; 
}


nav a img:hover {
    animation-name: tamanioDinamicoImagen;
    animation-duration: 1s;
}

@keyframes tamanioDinamicoImagen {
    from {height:25px;}
    to {height:50px;}
}

@media screen and (max-width: 600px) {
    header a {
    float: none;
    width: 100%;
    }
}

div{
    padding: 2%;
    text-align: left;
}

label{
    color:white;
    text-shadow: 0.1em 0.1em 0.1em black
}

p{
    color:white;
    text-shadow: 0.1em 0.1em 0.1em black
}

h1,h2,h3,p{
    color:white;
    text-shadow: 0.1em 0.1em 0.1em black
}


body {
    background-image: url(../img/img_contacto4.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor .form .form-header .form-title{
    font-weight: normal;
    font-family: sans-serif;
    color: yellow;
    text-align: center;
    padding: 14px 0;

}

.contenedor .form .form-header .form-title span {
    color:white;
}

.contenedor .form{
    background: rgba(0, 0, 0, 0.473);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    display: block;
    color:yellow;
    font-size: 16px;
    font-family: Arial, sans-serif;
    position: relative;
}

.contenedor .form .form-input, .form-textarea{
    background-color: rgba(0, 0, 0, 0.432);
    border: none;
    outline: none;
    border-bottom: 2px solid yellow;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    font-family: Arial, sans-serif;
}

.contenedor .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit{
    width: 100%;
    font-family: arial, sans-serif;
    outline: none;
    background: yellow;
    font-size: 16px;
    border: white;
    padding: 15px 0;
    cursor: pointer;
    transition: all 5.s ease;
}

.contenedor .form .btn-submit:hover{
    background: rgba(255, 255, 0, 0.514);
}